<link rel="stylesheet" href="/admin/css/faqManagement/faq.css">

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="fw-bold">✨ Logs Management</h3>
    </div>


    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table id="logTable" class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Admin Name</th>
                            <th>Admin Type</th>
                            <th>Logged Email</th>
                            <th>Operation</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Logs Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #ececec;">
                <pre><p class="logsDetails"></p></pre>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        const searchlogCard = $('#searchlogCard');
        searchlogCard.hide();
        $(window).on('load', () => searchlogCard.slideDown(1000));


        const table = $('#logTable').DataTable({
            processing: true,
            serverSide: true,
            pageLength: 10,
            lengthMenu: [10, 25, 50, 100],
            scrollY: "400px",
            scrollCollapse: true,
            searching: false,
            ajax: {
                url: '/logs/logsList',
                type: 'POST',
                data: function (d) {
                    d.title = $('#searchlogTitle').val();
                    d.status = $('#searchlogtatus').val();
                    d.createdAt = $('#searchCreatedAt').val();
                }
            },
            columns: [
                {
                    data: null,
                    orderable: false,
                    render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1
                },
                { data: 'backendUserName', orderable: false },
                { data: 'adminType', orderable: false },
                { data: 'backendUserEmail', orderable: false },
                { data: 'operation', orderable: false },
                {
                    data: 'createdAt',
                    render: data => moment(data).format('YYYY-MM-DD HH:mm:ss')
                },
                {
                    data: null,
                    orderable: false,
                    render: row => `
                        <button class="btn btn-sm btn-warning viewLogs" 
        data-id='${row._id}' 
        data-details="${JSON.stringify(row).replace(/"/g, "'")}">
    <i class="fas fa-edit"></i> View Logs
</button>

                    `
                }
            ]
        });

        $('#searchBtn').on('click', () => table.ajax.reload());
        $('#resetBtn').on('click', function () {
            $('#searchlogTitle, #searchlogtatus, #searchCreatedAt').val('');
            table.ajax.reload();
        });
        $('#logTable').on('click', '.viewLogs', function () {
            $('#logModal').modal('show');

            let details = $(this).attr('data-details');
            details = JSON.parse(details.replace(/'/g, '"'));

            $('.logsDetails').text(JSON.stringify(details, null, 2));

        });





    });
</script>